<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<table border="1" cellpadding="0" cellspacing="1" class="registrationCard-print-table">
    <tbody>
    <tr>
        <td  class="print-table-left">
            <table>
                <tr>

                    <td>
                        <h3 class="print-table-header">Notice</h3>
                        <ul class="print-table-left-body">
                            <li>
                                {{ "REGISTRATION_BRING_CARD_TEXT_KEY" | translate }}
                            </li>
                            <li>
                                {{ "REGISTRATION_TAKE_MEDICINES_TEXT_KEY" | translate}}
                            </li>
                            <li>
                                {{ "REGISTRATION_TIMINGS_TEXT_KEY" | translate }}
                            </li>
                            <li>
                               {{ "REGISTRATION_OPD_DAYS_TEXT_KEY" | translate }}
                            </li>
                            <li>
                                {{ "REGISTRATION_SUNDAYS_HOLIDAY_TEXT_KEY" | translate }}
                            </li>
                        </ul>
                        <div class="caution">
                            <h3 class="print-table-header">Caution</h3>
                            <p>
                                {{ "REGISTRATION_SMOKING_INJURIOUS_TEXT_KEY" | translate }}
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="print-table-right" valign="top">
            <table>
                <tr>
                    <td class="logo">
                        <p>
                            <img src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/treat.png" style="width: 12mm; height: 12mm; "/>
                        </p>
                    </td>
                    <td class="print-table-right-header">
                        <h3>
                        {{ "REGISTRATION_INSTITUTE_NAME_TEXT_KEY" | translate }}
                        </h3>
                        <h3 class="print-center">{{ "REGISTRATION_INSTITUTE_REGISTERED_TEXT_KEY" |  translate }}</h3>
                    </td>
                    <td class="registrationCard-photo">
                        <img ng-src="{{patient.image}}" style="width: 20mm; height: 20mm; "
                             onerror="this.onerror=null;this.src='../images/blank.jpeg';"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="print-center registrationCard-location">
                    {{ "REGISTRATION_INSTITUTE_ADDRESS" | translate }}
                    </td>
                </tr>
            </table>
            <table class="registrationCard-details">
                <tbody>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Registration Date</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.registrationDate | bahmniDate}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Patient ID</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryIdentifier.identifier}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Name</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>
                        <span class="hindi-text">{{patient.fullNameLocal()}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Date of Birth</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.birthdate | bahmniDate}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Gender</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.gender}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Patient Contact</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryContact}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Physical Address</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.cityVillage}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Country</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.country}} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
