 <div class="clint-logo-wrapper">
<!-- <img class="implementor-logo" src={{logo}} 
    <span ng-if="titleText" class="title_text"> {{'LOGIN_PAGE_TITLE_TEXT' | translate }} </span> -->
     <div >
        <span ng-if="headerText">{{'LOGIN_PAGE_HEADER_TEXT'| translate}} </span>
    </div>
</div> 

<div class="login" ng-hide="showOTP">
    <header class="reg-header">
        <div class="left">{{'LOGIN_LABEL_LOGIN_KEY' | translate}}</div>
        <div class="right locale-wrapper">
            <span class="locale-text">{{'LOGIN_LABEL_SELECT_LOCALE_KEY' | translate}} </span>
            <select id="locale" ng-model="selectedLocale" ng-options="item.code as item.nativeName for item in locales" required/>
        </div>
    </header>

    <form ng-submit="login()" name="loginForm" bm-form autofillable="true">
        <div class="login-body">
            <div class="note-container">
                <div class="note error" ng-if="!isChrome()">
                    <div class="text">
                    {{ 'LOGIN_UNSUPPORTED_BROWSER_KEY'  | translate }}
                    </div>
                </div>
                <div class="note error" ng-show="errorMessageTranslateKey">
                    <div class="text">
                        {{errorMessageTranslateKey | translate}}
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="username">
                        {{'LOGIN_LABEL_USERNAME_KEY' | translate}} <span class="asterick">*</span>
                    </label>
                </div>

                <div class="field-value">
                    <input type="text" name="username" id="username" ng-model="loginInfo.username" autofocus="autofocus"
                           placeholder="{{'LOGIN_MESSAGE_ENTER_USERNAME_KEY' | translate}}">
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="password">
                        {{'LOGIN_LABEL_PASSWORD_KEY' | translate}} <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <input type="password" id="password" name="password" ng-model="loginInfo.password"
                           placeholder="{{'LOGIN_MESSAGE_ENTER_PASSWORD_KEY' | translate}}">
                </div>
            </div>

            <div class="form-field">
                <div class="field-attribute">
                    <label for="location">
                        {{'LOGIN_LABEL_LOCATION_KEY' | translate}} <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <select id="location" ng-model="loginInfo.currentLocation"
                            ng-options="item as (item.display | translate) for item in locations | orderBy:'display'" required>
                        <option value="">{{'LOGIN_LABEL_SELECT_LOCATION_KEY' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="confirm">{{'LOGIN_LABEL_LOGIN_KEY' | translate}}</button>
            </div>
        </div>

    </form>

    <div class="warning-message">
        <span ng-if="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{warning}}</span>
        <p>{{warningMessage | translate :timeZoneObject}} </p>
    </div>

    <div ng-show="bottomLogos" class="bottom-logos-wrapper">
        <img ng-repeat="logo in bottomLogos" id="bottom-logos-image" src={{logo}}>
    </div>

</div>

<div class="login login-otp" ng-show="showOTP">

    <header class="reg-header">
        <div class="left">{{'LOGIN_LABEL_LOGIN_KEY' | translate}}</div>
    </header>

    <form ng-submit="login()" name="otpForm" bm-form>
        <div class="login-body">
            <div class="note-container">
                <div class="note error" ng-show="errorMessageTranslateKey"
                     ng-class="{'error_resend' : errorMessageTranslateKey == 'LOGIN_LABEL_RESEND_SUCCESS' }">
                    <div class="text">
                        {{errorMessageTranslateKey | translate}}
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="password">
                        {{'LOGIN_LABEL_ENTER_OTP_KEY' | translate}} <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <input type="password" id="otp" name="password" ng-model="loginInfo.otp"
                           placeholder="{{'LOGIN_LABEL_ENTER_OTP_KEY' | translate}}" required>
                    <button type="button" ng-click="resendOTP()" class="fr otp-button">{{'LOGIN_LABEL_RESEND_OTP' |
                        translate}}
                    </button>
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="confirm">{{'LOGIN_LABEL_SUBMIT_KEY' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<!-- <div class="power-by">
    Powered by
        <img src="./../images/twlogo.png" alt="ThoughtWorks">
        <img src="./../images/bahmniLogoFull.png" alt="Bahmni" >
    <a href={{helpLink}}> Bahmni Help</a>
</div> -->