/*doc
---
title: Overlay Window
name: overlay_window
category: Layout - overlay
---

Overlay window is visible when page is loading.

```html_example
<div id="overlay">
<div></div>
</div>
```


*/

$column-width: 100;
$gutter-width: 0;
$columns: 12;
$total-width: 100%;

@import "compass";

/*** grid form elements css start ***/
.form-field-inline {
  .form-field {
    float: left;
    @include column(6);
    margin-bottom: 10px;
  }
  @include clearfix();
}

.form-field {
  margin-bottom: 10px;
  @include clearfix();
  .field-attribute {
    float: left;
    label {
      width: 11em;
      line-height: 20px;
      float: left;
      text-align: right;
      margin: 8px 0.8em 8px 0px;
      font-size: 14px;
    }
  }
  .field-value {
    float: left;
    font-size: 14px;
    input[type="text"], input[type="password"] {
      float: left;
      width: 12.5em;
      padding: 2px 10px;
    }
    input[type="number"] {
      width: 8em;
      padding: 5px 10px;
    }
    span.text-only {
      display: inline-block;
      margin: 8px 5px 8px 5px;
    }
  }
}

.asterick {
  color: red;
}

.input-prepend {
  float: left;
  input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    float: left;
    margin: 0px !important;
  }
  .add-on {
    @extend input;
    border-radius: 3px;
    height: 21px;
    min-width: 17px;
    padding: 4px 5px;
    background-color: $lightestGray;
    border: 1px solid $lightGray;
  }

}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.input-prepend .add-on, .input-prepend .btn {
  margin-right: -1px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: $lightestGray;
  &:focus {
    cursor: not-allowed;
    background-color: $lightestGray;
    outline: none;
  }
}

.fa-white {
  color: $white;
}

/********************** overridding the common ui ***********************/
.simple-form-ui {
  form {
    background: $white;
    section {
      display: block;
      padding: 0px;
      border-left: none;
      background: $white;
    }
  }
}

p.caution {
  color: red;
  padding: 15px 5px 5px 5px;
  background: $white;
  text-align: center;
}

.button.confirm, button.confirm, input[type="submit"].confirm, input[type="button"].confirm, input[type="submit"].confirm, a.button.confirm {
  padding: 7px 20px;
}

.button, button, input[type="submit"], input[type="button"], input[type="submit"], a.button {
  padding: 7px 20px;
}

button[disabled], button[disabled]:hover, button.disabled, button.disabled:hover {
  opacity: .65;
  filter: alpha(opacity=65);
  background: $lightestGray;
  border: 1px solid $lightGray;
  color: $darkGray;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/*** grid form elements css end ***/
body {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  font-family: "OpenSans", Arial, sans-serif;
}

.reg-header {
  @include clearfix;
  height: 52px;
}

.remove-margin {
  margin: 0px !important;
}

#overlay {
  display: none;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6) url('../images/spinner.gif') no-repeat center center;
  div {
    width: 100%;
    height: 100%;
  }
}

/*** login specific css end ***/
/*** search page css start ****/
.reg-wrapper {
  margin: 0px auto;
  height: 100%;

  .inline-element, select, input, button {
    display: inline-block;
  }
  select {
    height: 35px;
  }
  header {
    color: $lightGray;
    height: 52px;
    border-radius: 0;
    line-height: 1em;
    background: $bahmniSecondaryColor;
    .header-logo {
      display: block;
      width: 35px;
      margin: 8px auto;
      img {
        display: block;
        width: 35px;
        border-radius: 17px;
        box-shadow: 0 8px 6px -7px $black;
      }
    }
    ul {
      //float:right;
      li {
        //margin:11px 15px 10px 0px;
        display: inline-block;
        a {
          color: $white;
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;
          .nav-link {
            padding-left: 2px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .reg-search-wrapper {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $lightGray;
    background: $white;
    border-radius: 3px;
    .reg-search {
      margin-bottom: 10px;
      @include clearfix;
      .search-seperator-l {
        @include column(5);
        border-right: 2px dotted $lightGray;
        select {
          width: 80px;
          min-width: 80px;
          padding: 0 10px !important;
        }
      }
      .search-seperator-r {
        padding: 0px 0px 10px 20px;
        input {
          margin-right: 5px;
        }
        .reg-srch-btn {
          margin-top: 25px;
        }
      }
    }
    .note-container {
      text-align: left;
      .note {
        padding: 6px 10px 6px 10px;
        .text {
          p {
            max-width: 100%;
            top: 0px;
            margin-left: 0
          }
        }
      }
    }
  }
}

/*** search page css end ***/
.apps {
  text-align: center;
  li {
    display: inline-block;
    a {
      padding: 20px 10px;
      width: 130px;
      max-height: 90px;
      vertical-align: top;
      line-height: 1.3em;
      margin: 10px;
      text-align: center;
      font-size: 1.3em;
      &:hover {
        background: $lightestGray;
        border: 1px solid $lightGray;
      }
      i {
        display: block;
        font-size: 50px;
        margin: 0px auto;
        padding: 10px;
      }
    }
  }
}

/*** Login Page Styles ***/
/******************************************************************************/

.login {
  height: 300px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 0.865em;
  max-width: 500px;
  form {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px -10px $mediumGray;
  }
  header {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    padding: 0px 20px;
    .left {
      max-width: 150px;
      overflow: hidden;
    }
    .locale-wrapper {
      font-size: 14px;
      max-width: 300px;
      overflow: hidden;
      .locale-text {
        padding-right: 10px;
        max-width: 130px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
      }
      select {
        background-color: #FFF;
        border: 1px solid $lighterGray;
        color: #363463;
        height: 25px;
        padding: 0px 10px;
        margin: 0;

      }
    }
    a.back-btn {
      line-height: initial !important;
    }
  }

  .login-body {
    background: $white;
    border: 1px solid $lightGray;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    padding-top: 10px;
    p.caution {
      padding: 0px;
    }
    .note-container {
      width: 95.1%;
      margin: auto;
      .note {
        min-width: 10px;
        display: block;
        text-align: center;
        &.error {
          color: #ff0000;
        }
      }
    }
    .form-field {
      display: block;
      margin: 10px 13px 10px 17px;
      .field-attribute {
        label {
          text-align: left;
          padding-left: 3px;
          margin: 0;
        }
      }
      .field-value {
        clear: both;
        float: none;
        width: 100%;
        input[type="text"], input[type="password"] {
          width: 95%;
          display: block;
          margin: 0px;
          min-width: 10%;
          padding: 10px 4px 10px 10px;
        }
        select {
          width: 99%;
        }
      }
    }
    .form-footer {
      margin: 10px 13px 10px 17px;
      button.confirm {
        margin: 2px auto;
        max-width: 100%;
        width: 99%;
        padding: 10px;
        font-size: 16px;
      }
    }
  }
  @media screen and (min-width: 1025px) {
    width: 500px;
    .login-body {
      padding-top: 10px;
      .note-container .note {
        margin: 0px auto;
      }
      .form-field {
        padding: 0;
        .field-attribute {
          label {
            text-align: right;
            margin: 8px 0.8em 8px 0px;
            width: 11em;
          }
        }
        .field-value {
          clear: none;
          float: left;
          width: auto;
          input[type="text"], input[type="password"] {
            width: 15em;
            display: inline-block;
            margin: 2px;
            min-width: 80%;
            padding: 4px;
          }
          select {
            width: 15.7em;
          }
        }
      }
      .form-footer {
        padding-left: 13.8em;
        button.confirm {
          display: inline-block;
          margin: 2px;
          width: 73%;
        }
      }
    }
  }
}

.warning-message {
  text-align: center;
  margin-top: 20px;
  color: #ffac2e;
  span {
    font-weight: bolder;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
  }
  p {
    padding: 0 25px;
  }
}
.emr-login-text {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: $bahmniSecondaryColor;
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
}
.bottom-logos-wrapper {
  @media screen and (min-width: 1025px) {
    width: 700px;
    margin-left: -20%;
  }
  width:auto;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  img {
    height: 60px;
    padding: 0 8px;
  }  
}
.power-by {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #fafafa;
  padding-bottom: 5px;
  font-size: 12px;
  color: #898989;
  img {
    width: 55px;
    vertical-align: middle;
    margin: 0 1px;
  }
  a {
    color: #000;
  }
}
.clint-logo-wrapper {
  display: block;
  text-align: center;
  padding-top: 220px;
  img {
    max-width: 200px;
    vertical-align: middle;
    max-height: 10px;
  }
  span {
    vertical-align: middle;
    color: #888;
    font-size: 22px;
    font-size: 22px;
    font-weight: 900;
    color: $bahmniSecondaryColor;
  }
}

/*** Change Password Page Styles ***/
/******************************************************************************/
.login.change-password-wrap {
  width: auto;
  max-width: 765px;
  .change-password {
    width: 450px;
    .field-value-buttons {
      padding: 2px 0 2px 2px;
      button {
        padding: 7px 13px !important;
        &.confirm {
          margin-right: 0;
        }
      }
    }
    @media screen and (max-width: 830px) {
      width: 385px;
    }
    @media screen and (max-width: 720px) {
      float: none !important;
      clear: both;
    }
  }
  @media screen and (max-width: 830px) {
    max-width: 695px;
  }
  @media screen and (max-width: 720px) {
    max-width: 400px;
    height: auto;
  }
  .info {
    width: 295px;
    border-radius: 10px;
    padding: 10px;
    background: $white;
    border: 1px solid $lightGray;
    @include box-shadow-for-section();
    box-sizing: border-box;
    h3 {
      margin: 0 0 15px;
    }
    ol {
      line-height: 1.5;
      padding-left: 15px;
      li {
        padding-bottom: 4px;
      }
    }
    @media screen and (max-width: 720px) {
      float: none !important;
      clear: both;
      width: 385px;
      margin-top: 20px;
    }

  }
}

/*** Dashboard Styles ***/
/******************************************************************************/

.dashboard {
  position: relative;
  header {
    .btn-user-info {
      background: lighten($bahmniPrimaryColor, 10%);
      padding: 17px 16px;
      border: none;
      border-radius: 0;
      &:focus {
        outline: 0;
      }
      i.mini {
        font-size: .9em;
      }
      & + ul {
        display: none;
        &.active {
          background: lighten($bahmniPrimaryColor, 10%);
          display: block;
          position: absolute;
          right: 0;
          top: 50px;
        }
        li {
          float: left;
          clear: both;
          text-align: left;
          padding-left: 10px;
          border-bottom: 1px solid lighten($bahmniPrimaryColor, 10%);
          margin: 0;
          padding: 10px 10px 10px 5px;
          a.disabled {
            color: $lightGray;
            .fa-user {
              color: $lightGray;
            }
          }
        }
      }
    }
  }
  .apps {
    ul {
      margin: 50px auto;
      max-width: 520px;
      li {
        a {
          width: 130px;
          @include box-shadow-for-section();
          padding: 10px 10px 20px;
          i {
            margin-bottom: 5px;
          }
          &.button {
            min-height: 115px !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 520px) {
    .apps {
      ul {
        max-width: 345px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .apps {
      width: 560px;
      margin: 80px auto;
      //padding-bottom: 100px;
      ul {
        max-width: 600px;
        li {
          a {
            width: 140px;
            &.button {
              min-height: 115px !important;
            }
            i {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

.change-location {
  padding: 7px 10px;
  select, select:focus {
    background: lighten($bahmniPrimaryColor, 10%);
    color: $white;
    border: 1px solid lighten($bahmniPrimaryColor, 5%)
  }
}

.orderSet-Create {
  margin-top: 0 !important;
}

.syncStatusInfo {
  text-align: center;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 13px;
  font-style: italic;
  color: #666;
  .message {
    font-style: normal;
  }
  .pending {
    color: #FDA319;
  }
  .fail {
    color: red;
  }
  .success {
    color: #53B76D;
  }
  .inProgress {
    color: black;
  }
  p {
    padding-bottom: 10px;
    margin: 0;
  }

}

button.button-Errorlog {
  color: $alert;
  background: $alertBackground;
  border-color: $alert;
  margin-bottom: 10px;
}

.login.login-otp .login-body {
  .form-field .field-attribute label {
    width: 7em;
  }
  .form-field .field-value input[type="password"] {
    min-width: initial;
  }
  .otp-button {
    padding: 6px 14px;
    margin: 2px 0 0 10px;
  }
  .form-footer {
    padding-left: 9.3em;

    button.confirm {
      width: 220px;
    }
  }
  .error.error_resend {
    color: green;
  }
}

