<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/supplementalPaperLayout/css/print.css"/>
<div>
    <style>
    </style>
    <div class="row">
        <div class="left">
            <span class="label">Transcare Clinic</span>
            <span></span>
        </div>
        <div class="right">
            <span class="label">Date :</span>
            <span>{{today | date:'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Patient ID :</span>
            <span>{{patient.primaryIdentifier.identifier}}</span>
        </div>
        <div class="right">
            <span class="label">Village :</span>
            <span>{{patient.address.cityVillage}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Name :</span>
            <span>{{patient.fullNameLocal() || patient.name}}</span>
        </div>
        <div class="right">
            <span class="label">Country:</span>
            <span>{{patient.address.country}}</span>
        </div>
    </div>
    <div class="row">
        <div class="right">
            <span class="label">Age :</span>
            <span>{{patient.age.years || "0"}}</span>
        </div>
    </div>
    <div class="row">
        <div class="right">
            <span class="label">Gender :</span>
            <span ng-show="patient.gender">{{patient.gender}}</span>
        </div>
    </div>
<!--     <div class="row">
        <div class="left">
            <span class="label">Weight :</span>
            <span>{{obs.WEIGHT}}</span>
        </div>
    </div>
     <div class="row">
        <div class="left">
            <span class="label">Height :</span>
            <span>{{obs.HEIGHT}}</span>
        </div>
    </div> -->
</div>