<div class="patient-info">
    <table>
        <tr>
            <td>Name: <span class="value">{{patient.name}}</span></td>
            <td>Age : <span class="value">{{patient.birthdate | dateToAge:visit.dateStarted}}</span>
            </td>
            <td>Sex: <span class="value"> {{patient.gender}}</span>
            </td>
            <td>Registration No. <span class="value">{{patient.identifier}}</span></td>
        </tr>
        <tr>
            <td>Village / Town: <span class="value">{{patient.address.cityVillage}}</span></td>
            <td>P.O. <span class="value">{{patient.address.address2}}</span></td>
            <td>District: <span class="value">{{patient.address.country}}</span></td>
        </tr>
        <tr>
            <td colspan="3">Visit Date: <span class="value">{{visitDate | bahmniDate}}</span></td>
        </tr>
    </table>
</div>
