<section class="reg-search-wrapper">
    <section class="reg-search">
        <!-- <article class="search-seperator-l" ng-if="::patientIdentifierSearchConfig.show">
            <form name="searchByIdForm" ng-submit="searchById()" class="simple-form-ui clearfix" >
                    <label for="registrationNumber"><strong>{{ ::'REGISTRATION_LABEL_PATIENT_ID' | translate}}</strong></label>
                    <div class="search-patient-id fl">
                        <input tabindex="2" class="fl" type="text" id="registrationNumber"
                        ng-model="searchParameters.registrationNumber" focus-me="true"
                               placeholder="{{ ::'REGISTRATION_LABEL_ENTER_ID' | translate}}">
                        <div class="reg-srch-btn fl">
                            <button tabindex="3" type="submit" ng-disabled="!searchParameters.registrationNumber" >{{ ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                    </div>

            </form>
        </article> -->
        <article class="search-seperator-r">
            <form name="searchByNameForm" ng-submit="searchPatients()" class="simple-form-ui" >

                <article class="fl">
                    <label for="name"><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></label>
                    <input tabindex="4" type="text" id="name" ng-model="searchParameters.name" placeholder="{{ ::'REGISTRATION_LABEL_ENTER_NAME' | translate}}">
                </article>
                <article class="fl" ng-if="::customAttributesSearchConfig.show">
                    <label for="name"><strong>{{::customAttributesSearchConfig.label}}</strong></label>
                    <input tabindex="5" type="text" id="customAttribute" ng-model="searchParameters.customAttribute" placeholder="{{::customAttributesSearchConfig.placeholder}}">
                </article>
                <article class="fl" ng-if="::addressSearchConfig.show">
                    <label for="name"><strong>{{::addressSearchConfig.label}}</strong></label>
                    <input tabindex="6" type="text" id="addressFieldValue" ng-model="searchParameters.addressFieldValue" placeholder="{{::addressSearchConfig.placeholder}}">
                </article>

                <article class="fl" ng-show="::programAttributesSearchConfig.show">
                    <label for="name"><strong>{{ ::programAttributesSearchConfig.label | translate}}</strong></label>
                    <input tabindex="7" type="text" id="programAttribute" ng-model="searchParameters.programAttributeFieldValue" placeholder="{{ ::programAttributesSearchConfig.placeholder}}">
                </article>

                <article class="fl">
                    <div class="reg-srch-btn">
                        <button tabindex="8" type="submit" ng-disabled="disableSearchButton()">{{ ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                    </div>
                </article>
            </form>

        </article>
    </section>

    <div class="note-container no-search-results" ng-if="noResultsMessage">
        <div class="note warning">
            <div class="text">
                <p>{{noResultsMessage | translate:patientIdentifier }}</p>
            </div>
        </div>
    </div>

    <div ng-if="resultsPresent()" infinite-scroll="nextPage()" infinite-scroll-immediate-check="false" infinite-scroll-disabled="noMoreResultsPresent" class="registraition-search-results-container">
        <table class="table">
            <thead>
            <tr>
                <th><strong>{{ ::'REGISTRATION_LABEL_ID' | translate}}</strong></th>
                <th ng-repeat = "type in ::extraIdentifierTypes track by $index"><strong>{{type.name}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></th>
                <th ng-repeat = "field in ::personSearchResultsConfig.fields track by $index"><strong>{{::convertToTableHeader(field)}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_GENDER' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_AGE' | translate}}</strong></th>
                <th ng-repeat = "field in ::addressSearchResultsConfig.fields"><strong>{{::convertToTableHeader(getAddressColumnName(field))}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_REGISTRATION_DATE' | translate}}</strong></th>
                <th ng-if="::programAttributesSearchConfig.show"><strong>{{::convertToTableHeader(programAttributesSearchConfig.label)}}</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results">
                <td>
                    <a tabindex="{{ :: 8 + $index + 1 }}" ng-if="::(searchActions.length > 0)" ng-click="forPatient(result).doExtensionAction(searchActions[0])">
                        {{::result.identifier || 'Not Assigned'}}
                    </a>
                </td>
                <td ng-repeat = "type in ::extraIdentifierTypes track by $index">
                    {{::result.extraIdentifiers[type.name]}}
                </td>

                <td>{{::result.givenName}} {{::result.middleName}} {{::result.familyName}}</td>
                <td ng-repeat = "field in ::personSearchResultsConfig.fields track by $index">{{::result.customAttribute[field] || "" | bahmniDateInStrictMode}}</td>
                <td>{{::result.gender}}</td>
                <td>{{::result.age}}</td>
                <td ng-repeat = "field in ::addressSearchResultsConfig.fields">{{::result.addressFieldValue[field] || ""}}</td>
                <td>{{::result.dateCreated | bahmniDate}}</td>
                <td ng-if="::programAttributesSearchConfig.show">{{getProgramAttributeValues(result) | bahmniDateInStrictMode}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="loader" ng-show="loadingMoreResults()"></div>

    <div class="note-container no-more-results" ng-if="noMoreResultsPresent">
        <div class="note warning">
            <div class="text">
                    <p>{{ ::'REGISTRATION_LABEL_NO_RESULTS' | translate}}</p>
            </div>
        </div>
    </div>
</section>
