<article class="consultation-page visit">
    <section class="messages" ng-if="isConsultationTabEmpty()">
        <p class="null-data-message">{{ 'CONSULTATION_TAB_PAD_EMPTY_MESSAGE'|translate }}</p>
    </section>
    <div ng-if="!isConsultationTabEmpty()">
        <section class="block diagnosis section-grid"
                 ng-show="consultation.newlyAddedDiagnoses.length > 0 || consultation.savedDiagnosesFromCurrentEncounter.length > 0 || editedDiagnosesFromPastEncounters.length > 0">
            <h2 class="section-title">{{ 'CONSULTATION_TAB_DIAGNOSES_HEADER_LABEL'|translate }}</h2>

            <div class="table history-diagnosis" ng-show="consultation.newlyAddedDiagnoses.length > 0">
                <div class="row table-header">
                    <div class="col col1"><span class="table-head-title">{{ 'CONSULTATION_TAB_NEW_DIAGNOSES_LABEL'|translate }}</span></div>
                    <div class="col col2"><span class="table-head-title">{{ 'CONSULTATION_TAB_DIAGNOSES_STATUS_LABEL'|translate }}</span></div>
                    <div class="col col3"><span class="table-head-title"></span></div>
                    <div class="col col4"><span class="table-head-title">{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}</span></div>
                    <div class="col col5"><span class="table-head-title"></span></div>
                </div>
                <div class="table-body">
                    <div class="row diagnosis-row"
                         ng-repeat="diagnosis in consultation.newlyAddedDiagnoses | primaryDiagnosisFirst">
                        <div class="view-past row-click" toggle="diagnosis.showComment">
                            <div class="col col1">
                                <span class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</span>
                            </div>
                            <div class="col col2">
                                <div class="view">
                                    <span class="certainty">{{diagnosis.certainty}}</span>
                                    <span class="order">
                                        <span ng-show="diagnosis.isPrimary()">{{ 'CLINICAL_DIAGNOSIS_ORDER_PRIMARY'|translate }}</span>
                                        <span ng-hide="diagnosis.isPrimary()">{{ 'CLINICAL_DIAGNOSIS_ORDER_SECONDARY'|translate }}</span>
                                    </span>
                                    <span class="status"></span>

                                </div>
                                <div ng-show="diagnosis.firstDiagnosis">
                                    <span class="time-stamp">
                                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniDate}}</span>
                                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniTime}}</span>
                                    </span>
                                    <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">
                                        <provider-directive creator-name="{{diagnosis.creatorName}}" provider-name="{{provider.name}}"></provider-directive>
                                    </span>
                                </div>
                            </div>
                            <div class="col col3"></div>
                            <div class="col col4">
                                <i ng-show="diagnosis.{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}" class="fa fa-ok fl"></i>
                                <button class="toggle fr" ng-if="diagnosis.comments"
                                        ng-click="diagnosis.showComment = !diagnosis.showComment"
                                        ng-class="{'has-notes': diagnosis.comments}">
                                    <i class="fa fa-angle-down" ng-hide="diagnosis.showComment"></i>
                                    <i class="fa fa-angle-up" ng-show="diagnosis.showComment"></i>
                                </button>
                            </div>
                        </div>
                        <div class="diagnosis-row notes inline-notes" ng-show="diagnosis.showComment">
                            <p>
                                <strong class="diagnosis-notes-title">{{ 'CONSULTATION_TAB_DIAGNOSES_NOTES_LABEL'|translate }}: </strong>
                            <pre>{{diagnosis.comments}}</pre>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table history-diagnosis" ng-show="consultation.savedDiagnosesFromCurrentEncounter.length > 0">
                <div class="row table-header">
                    <div class="col col1"><span class="table-head-title">{{ 'CLINICAL_CURRENT'|translate }}</span></div>
                    <div class="col col2"><span class="table-head-title">{{ 'CONSULTATION_TAB_DIAGNOSES_STATUS_LABEL'|translate }}</span></div>
                    <div class="col col3"><span class="table-head-title"></span></div>
                    <div class="col col4"><span class="table-head-title">{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}</span></div>
                    <div class="col col5"><span class="table-head-title"></span></div>
                </div>

                <div class="table-body">
                    <div class="row diagnosis-row"
                         ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter | primaryDiagnosisFirst">
                        <div class="view-past row-click">
                            <div class="col col1">
                                <span class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</span>
                            </div>
                            <div class="col col2">
                                <div class="view">
                                    <span class="certainty">{{diagnosis.certainty}}</span>
                                    <span class="order">
                                        <span ng-show="diagnosis.isPrimary()">{{ 'CLINICAL_DIAGNOSIS_ORDER_PRIMARY'|translate }}</span>
                                        <span ng-hide="diagnosis.isPrimary()">{{ 'CLINICAL_DIAGNOSIS_ORDER_SECONDARY'|translate }}</span>
                                    </span>
                                    <span class="status"></span>
                                </div>
                                <div ng-show="diagnosis.firstDiagnosis">
                                    <span class="time-stamp">
                                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniDate}}</span>
                                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniTime}}</span>
                                    </span>
                                    <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">
                                        <provider-directive creator-name="{{diagnosis.creatorName}}" provider-name="{{provider.name}}"></provider-directive>
                                    </span>
                                </div>
                            </div>
                            <div class="col col3"></div>
                            <div class="col col4">
                                <i ng-show="diagnosis.{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}" class="fa fa-ok fl"></i>
                                <button class="toggle fr" ng-if="diagnosis.comments"
                                        toggle="diagnosis.showComment"
                                        ng-class="{'has-notes': diagnosis.comments}">
                                    <i class="fa fa-plus-circle"></i>
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class="diagnosis-row notes inline-notes" ng-show="diagnosis.showComment">
                            <p>
                                <strong class="diagnosis-notes-title">{{ 'CONSULTATION_TAB_DIAGNOSES_NOTES_LABEL'|translate }}: </strong>
                            <pre>{{diagnosis.comments}}</pre>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table history-diagnosis" ng-show="editedDiagnosesFromPastEncounters.length > 0">
                <div class="row table-header">
                    <div class="col col1"><span class="table-head-title">{{ 'CONSULTATION_TAB_PAST_DIAGNOSES_LABEL'|translate }}</span></div>
                    <div class="col col2"><span class="table-head-title">{{ 'CONSULTATION_TAB_DIAGNOSES_STATUS_LABEL'|translate }}</span></div>
                    <div class="col col3"><span class="table-head-title"></span></div>
                    <div class="col col4"><span class="table-head-title">{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}</span></div>
                    <div class="col col5"><span class="table-head-title"></span></div>
                </div>

                <div class="table-body">
                    <div class="row diagnosis-row"
                         ng-repeat="diagnosis in editedDiagnosesFromPastEncounters | primaryDiagnosisFirst">
                        <div class="view-past row-click" toggle="diagnosis.showComment">
                            <div class="col col1">
                                <span class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</span>
                            </div>
                            <div class="col col2">
                                <div class="view">
                                    <span class="certainty">{{diagnosis.certainty}}</span>
                                    <span class="order">
                                        <span ng-show="diagnosis.isPrimary()" class="order">{{ 'CLINICAL_DIAGNOSIS_ORDER_PRIMARY'|translate }}</span>
                                        <span ng-hide="diagnosis.isPrimary()" class="order">{{ 'CLINICAL_DIAGNOSIS_ORDER_SECONDARY'|translate }}</span>
                                    </span>
                                    <span class="status"></span>
                                </div>
                                <div ng-show="diagnosis.firstDiagnosis">
                                    <span class="time-stamp">
                                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniDate}}</span>
                                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniTime}}</span>
                                    </span>
                                    <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">
                                        <provider-directive creator-name="{{diagnosis.creatorName}}" provider-name="{{provider.name}}"></provider-directive>
                                    </span>
                                </div>
                            </div>
                            <div class="col col3"></div>
                            <div class="col col4">
                                <i ng-show="diagnosis.{{ 'CONSULTATION_TAB_REVISED_DIAGNOSES_LABEL'|translate }}" class="fa fa-ok fl"></i>
                                <button class="toggle fr" ng-if="diagnosis.comments"
                                        ng-click="diagnosis.showComment = !diagnosis.showComment"
                                        ng-class="{'has-notes': diagnosis.comments}">
                                    <i class="fa fa-plus-circle" ng-hide="diagnosis.showComment"></i>
                                    <i class="fa fa-minus-circle" ng-show="diagnosis.showComment"></i>
                                </button>
                            </div>
                        </div>
                        <div class="diagnosis-row notes inline-notes" ng-show="diagnosis.showComment">
                            <p>
                                <strong class="diagnosis-notes-title">{{ 'CONSULTATION_TAB_DIAGNOSES_NOTES_LABEL'|translate }}: </strong>
                            <pre>{{diagnosis.comments}}</pre>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="block observation section-grid" ng-show="groupedObservations.length > 0">
            <h2 class="section-title">{{ 'CONSULTATION_TAB_OBSERVATIONS_HEADER_LABEL'|translate }}</h2>

            <div ng-repeat="observationGroup in groupedObservations">
                <table>
                    <thead>
                    <tr class="headerRow">
                        <th colspan="3"><span class="obs-value">{{observationGroup.conceptSetName}}</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="row-click"
                        ng-repeat-start="observation in observationGroup.groupMembers"
                        ng-class="{true: 'is-abnormal'}[observation.abnormalObs.value]">
                        <td class="name">
                            <span class="obs-value">{{observation.label}}</span>
                        </td>
                        <td class="value has-toggle-btn" data-ng-switch="observation.concept.conceptClass">
                            <img data-ng-switch-when="Image" ng-src="{{observation.value|thumbnail}}" width="100">
                            <span data-ng-switch-when="Unknown" class="obs-value">
                                {{::(observation.concept.shortName || observation.concept.name)}}
                            </span>
                            <span data-ng-switch-default class="obs-value"><pre class="chief-notes">{{observation | observationValue}} {{observation.concept.units}}</pre></span>

                            <div class="footer-note">
                                    <span class="time-stamp">
                                        <span class="time">{{observation.observationDateTime | bahmniTime}}</span>
                                    </span>
                                <span class="provider" bindonce="observation"
                                      bo-text="observation.provider.name"></span>
                            </div>
                        </td>
                        <td class="toggle-btn">
                            <button class="toggle fr" ng-if="observation.comment" toggle="observation.showComment"
                                    ng-class="{'has-notes': observation.comment}">
                                <i class="fa fa-plus-circle" ng-hide="observation.showComment"></i>
                                <i class="fa fa-minus-circle" ng-show="observation.showComment"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="observation.comment" ng-show="observation.showComment">
                        <td class="notes inline-notes" colspan="3">{{observation.comment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="block investigation" style="display:none;"> <!--Hiding the section for release 4-->
            <h2>{{ 'CONSULTATION_TAB_INVESTIGATION_HEADER_LABEL'|translate }}</h2>
            <ul>
                <li ng-repeat="investigation in consultation.investigations"
                    ng-class="{panel: investigation.concept.set, voided: investigation.voided}">
                    <span>{{investigation.concept.name}}</span>
                    <span ng-show="investigation.concept.set" class="panel">P</span>
                </li>
            </ul>
            <div ng-show="consultation.labOrderNote.value" class="notes">
                <h5 class="title">{{ 'NOTES_LABEL'|translate }}:</h5>

                <p class="content">{{consultation.labOrderNote.value}}</p>
            </div>
            <ng-include src="'consultation/views/labResults.html'" ng-init="labResults=consultation.labResults"/>
        </section>
        <section class="block disposition section-grid" ng-if="consultation.disposition.code && !consultation.disposition.voided">
            <h2 class="section-title">{{ 'CONSULTATION_TAB_DISPOSITION_HEADER_LABEL'|translate }}</h2>
            <ul class="block-content">
                <li>
                    <div class="expander-row row-click">
                        <span class="disposition-state">{{consultation.disposition.conceptName}} <span ng-if="consultation.disposition.dispositionDateTime">{{ 'CONSULTATION_ON_KEY'|translate }}</span> {{consultation.disposition.dispositionDateTime | bahmniDateTime }}</span>
                        <button class="toggle fr" ng-class="{'has-notes': consultation.disposition.additionalObs[0].value}" toggle="disposition.show">
                            <i class="fa fa-plus-circle"></i>
                            <i class="fa fa-minus-circle"></i>
                        </button>
                    </div>
                    <div>
                        <div ng-if="disposition.show" class="inline-notes notes" ng-class="{'print-notes': note.value}">
                            <p class="left">
                                <strong>{{ 'CONSULTATION_TAB_DISPOSITIONS_NOTES_LABEL'|translate }}: </strong>{{consultation.disposition.additionalObs[0].value}}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="block treatment-section section-grid"
                 ng-show="consultation.treatmentDrugs.length > 0 || consultation.newlyAddedTreatments.length > 0 || consultation.discontinuedDrugs.length > 0">
            <div ng-include src="'consultation/views/treatmentDrugs.html'"></div>
        </section>
    </div>
    <section class="block consultation-notes section-grid">
        <h2 class="section-title">{{ 'CONSULTATION_TAB_CONSULTATION_NOTES_LABEL'|translate }}</h2>
        <textarea ng-model="consultation.consultationNote.value" ng-change="onNoteChanged()"
                  placeholder="{{ 'CLINICAL_ENTER_NOTES_PLACEHOLDER'|translate }} " rows="6" msd-elastic></textarea>
    </section>

</article>

