<div class="patient-control-panel">
    <div class="overlay" ng-show="$parent.showControlPanel" ng-click="$parent.toggleControlPanel()"></div>
    <aside bindonce="patient" class="visit-history ng-hide" ng-show="$parent.showControlPanel">

        <div class="patient-info">
            <div>
                <a class="patient-img" href="{{getDashboardLink()}}" ng-click="changeContext($event)">
                    <img class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
                </a>
                <div class="patient-handler">
                    <h4 class="patient-name">
                    <a href="{{getDashboardLink()}}" ng-click="changeContext($event)"><span bo-text="patient.name"></span></a><span ng-show="patient.genderText" ng-bind-html="' ('+patient.genderText+')'"></span></h4>
                    <h5 class="patient-identifier"><span bo-text="patient.identifier"></span></h5>
                </div>
            </div>
            <h5><span ng-bind-html="patient.ageText"></span></h5>
            <h5><span ng-show="patient.address.cityVillage" bo-text="patient.address.cityVillage"></span>
              <span ng-show="patient.address.countyDistrict"> / {{patient.address.country}}</span></h5>
            <span class="ward" bo-text="bedDetails.wardName + ' ' + bedDetails.bedNumber"></span>
        </div>

        <h2>{{'CONTROL_PANEL_ACTIONS'|translate}}</h2>
        <ul>
            <li class="btn-patient-doc" ng-click="$parent.toggleControlPanel()">
                <div bm-gallery patient="patient" access-impression="true">
                    <a href="" bm-lazy-image-observation-gallery-items promise="documentsPromise" ><i class="fa fa-file-o fa-white"></i>{{"PATIENT_DOCUMENT_TRANSLATION_KEY"|translate}}</a>
                </div>
                
            <li class="{{link.icon}}" ng-click="changeContext($event)" ng-repeat="link in links">
                <a href="{{link.href}}" ng-click="link.onClick($event)"><i class="fa fa-th-large"></i><i class="fa fa-bar-chart"></i><i class="fa fa-vitals-2"></i><i class="fa fa-print"></i>{{link.text}}</a>
            </li>
        </ul>

        <h2>{{'CONTROL_PANEL_OTHER_ACTIONS'|translate}}</h2>
        <ul class="bahmni-home">
            <li><a class="header-logo" href="../home/index.html"><i class="fa fa-home"></i>{{"BAHMNI_HOME_TRANSLATION_KEY"| translate}}</a></li>
        </ul>
        <ul>
            <li>
                <a class="log-out" log-out><i class="fa fa-power-off fa-white small"></i> {{"LOGOUT_TRANSLATION_KEY"| translate}}
                <span ng-show="$parent.currentUser.username">
                    ({{$parent.currentUser.username}}-
                </span>
                <span ng-show="$parent.currentUser.currentLocation">
                    {{$parent.currentUser.currentLocation | translate}})
                </span></a>
            </li>
        </ul>
        <ul show-if-privilege="{{retrospectivePrivilege}}">
            <li ng-hide="isInEditEncounterMode()">
                <label for="retro-date-widget"  class="retro-date-widget" >{{"ENTERING_DATA_FOR_TRANSLATION_KEY"| translate}}</label>
                <br>
                <label class="retro-date-widget disabled-date">{{(consultation.encounterDateTime || today)| bahmniDate}}</label>
            </li>
            <li ng-show="isInEditEncounterMode()">
                <label for="retro-date-widget"  class="retro-date-widget" >{{"EDITITNG_DATA_FOR_ENCOUNTER_TRANSLATION_KEY" | translate}}</label>
                <br>
                <label class="retro-date-widget disabled-date">{{consultation.encounterDateTime| bahmniDateTime}}</label>
            </li>
        </ul>
        <ul show-if-privilege="{{encounterProviderPrivilege}}" ng-if="isValidProvider() && !isInEditEncounterMode()">
            <li>
                <label class="retro-date-widget disabled-date">- {{"ON_BEHALF_OF_TRANSLATION_KEY"| translate}}</label>
                <br>
                <label class="retro-date-widget disabled-date">{{encounterProvider.value}}</label>
            </li>
        </ul>
    </aside>
</div>